<aw-wizard #wizard [navBarLayout]="'large-empty-symbols'">
  <aw-wizard-step [stepTitle]="'Datos Personales'">
    <ng-template awWizardStepSymbol><i class="fas fa-id-card"></i></ng-template>
    <div class="centered-content">
      <div>
        Datos Personales
      </div>

      <div class="btn-group">
        <button type="button" class="btn btn-secondary" awNextStep>Continue</button>
      </div>
    </div>
  </aw-wizard-step>
  <aw-wizard-step [stepTitle]="'Relación de concesiones'">
    <ng-template awWizardStepSymbol><i class="fas fa-briefcase"></i></ng-template>
    <div class="centered-content">
      <div>
        Relación de concesiones
      </div>

      <div class="btn-group">
        <button type="button" class="btn btn-secondary" awPreviousStep>Back</button>
        <button type="button" class="btn btn-secondary" awNextStep>Continue</button>
      </div>
    </div>
  </aw-wizard-step>
  <aw-wizard-step [stepTitle]="'Relación con vehículos'">
    <ng-template awWizardStepSymbol><i class="fas fa-car"></i></ng-template>
    <div class="centered-content">
      <div>
        Relación con vehículos
      </div>

      <div class="btn-group">
        <button type="button" class="btn btn-secondary" awPreviousStep>Back</button>
        <button type="button" class="btn btn-secondary" awNextStep>Continue</button>
      </div>
    </div>
  </aw-wizard-step>
  <aw-wizard-step [stepTitle]="'Finalizar'">
    <ng-template awWizardStepSymbol><i class="far fa-check-circle"></i></ng-template>
    <div class="centered-content">
      <div>
        Finalizar
      </div>

      <div class="btn-group">
        <button type="button" class="btn btn-secondary" awPreviousStep>Back</button>
        <button type="button" class="btn btn-secondary" awResetWizard>Reset</button>
      </div>
    </div>
  </aw-wizard-step>
</aw-wizard>
<!-- https://github.com/madoar/angular-archwizard-demo -->
<!-- https://github.com/madoar/angular-archwizard-demo/blob/master/src/app/custom-step-symbol-template/custom-step-symbol-template.component.html -->
